@font-face {
  font-family: 'fontawesome';
  src:url('../fonts/fontawesome/fontawesome.eot?-v92fkb');
  src:url('../fonts/fontawesome/fontawesome.eot?#iefix-v92fkb') format('embedded-opentype'),
    url('../fonts/fontawesome/fontawesome.woff?-v92fkb') format('woff'),
    url('../fonts/fontawesome/fontawesome.ttf?-v92fkb') format('truetype'),
    url('../fonts/fontawesome/fontawesome.svg?-v92fkb#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

body
{
  background-color: #f1f5f8;
  height:100vh;
}

.portfolio
{
}
.portfolio_area{
  border-right: 5px solid #2980b9;
  background-color: #34495e;
/*  display:block;*/
  padding:0px;
  height:100vh;
/*  font-size: 16px;*/
}
.portfolio-sorting
{
  position:relative;
  text-transform: uppercase;
  font-size: 16px;
  padding:0px;
  list-style: none;
}
.main_category_titles{
  color:white;
  margin:10px;
  padding:0px;
}

.portfolio-sorting li a
{
  display:block;
  color: white;
  background-color:#507091;
  text-decoration: none;
  padding:10px;
  margin-bottom:1px;

  border-bottom: 2px solid #b9c9d8;
/*  width:100%;*/
/*  left:0px;*/
}
.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
  color: #bd888a;
}

.portfolio-item
{
  margin-bottom: 30px;
}

.shadow{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/**************
Content Loading
***************/


.content,
.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */
}

.content {
  overflow-y: scroll;
  height: 0; /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
  background: #fff;
  visibility: hidden;
  z-index: 400;
  -webkit-overflow-scrolling: touch;
}

.loading {
  opacity: 0;
  z-index: 1;
  background: transparent url(../img/preloader.gif) no-repeat center center;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.loading.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.content.show {
  height: auto;
  pointer-events: auto;
  visibility: visible;
}

.content > div {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  background: #fff;
}

.content > div.show {
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li.resort{

}
span.close-content {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 10px;
  font-size: 1.6em;
  color: #aaa;
  cursor: pointer;
  pointer-events: none;
  padding: 1em;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.close-content:hover {
  color: #999;
}

.content > div.show ~ .close-content {
  opacity: 1;
  pointer-events: auto;
}

.close-content:before {
  content: "\e602";
}

/* desc content */

.desc-img,
.desc-text,
.desc-title{
  max-width: 600px;
  width: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.vertical .desc-img,
.vertical .desc-text,
.vertical .desc-title{
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.horizontal .desc-img,
.horizontal .desc-text,
.horizontal .desc-title{
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}

.content > div.show .desc-img,
.content > div.show .desc-text,
.content > div.show .desc-title{
  opacity: 1;
}

.vertical .content > div.show .desc-img,
.vertical .content > div.show .desc-text,
.vertical .content > div.show .desc-title{
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.horizontal .content > div.show .desc-img,
.horizontal .content > div.show .desc-text,
.horizontal .content > div.show .desc-title{
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

p.desc-text:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

p.desc-text:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.desc-img {
/*  height: 400px;*/
  background-color: #ddd;
  margin: 30px auto;
}
.desc-title {
  text-align: left;
  margin: 0 auto;
  padding: 10px 0;
  color: black;
  font-size: 3em;
  font-family: 'Blokk', Arial, serif;
}
.desc-text {
  text-align: left;
  margin: 0 auto;
  padding: 10px 0;
  color: black;
  font-size: 1em;
  font-family: 'Blokk', Arial, serif;
}

.desc-text:last-child {
  padding-bottom: 100px;
}

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
  opacity: 1;
  visibility: visible;
  display: none;
  height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .desc-img,
.no-csstransitions .desc-text,
.no-csstransforms3d .desc-img,
.no-csstransforms3d .desc-text,
.no-pointerevents .desc-img,
.no-pointerevents .desc-text {
  display: block !important;
  opacity: 1;
}



/**************
  FOOTER
***************/
footer
{
  border-top: 5px solid #2980b9;

  background-color: #34495e;
  padding: 24px;
  font-size: 16px;
}

footer,
footer a
{
  color: white;
}

footer a:hover
{
  color: #2980b9;
}

footer .column ul li
{
  margin-bottom: 6px;
}

footer .column h4
{
  border-bottom: 2px solid #2980b9;
  padding-bottom: 12px;
    margin-bottom: 24px;
}

footer .column .glyphicon-chevron-right
{
  margin-right: 6px;
  color: #2980b9;
}

.social-icons
{
  margin-bottom: 12px;
}
